*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    background-image: url(/src/dezzer/gif2.gif);
    margin-left: 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    
}

header nav a{
    font-size: 20px;
    text-decoration: none;
    color: greenyellow;
    margin-right: 100px;
    animation: 1s ease all;
}
 header nav a:hover{
     color:white;
  background-image: url(/src/dezzer/menu.gif);
   height: 300px;
   width: 100px;
   
   
 }

 .musica-principal {
     background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/src/dezzer/gif\ dezzer.gif);
     height: 600px;
     background-size: cover;
     display:  flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

 }

 .descricao{
   
     margin-top: 5%;
     margin-bottom: 30px;
     font-size: 20px;
 }

 .titulo {
     text-align: center;
     margin-top: -5%;
     font-size: 55px;
     font-family: 'Courier New', Courier, monospace;
 }

 .botao{
    background-color: rgba(0, 0, 0, .10);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
cursor: pointer;
animation: 1ms ease alternate;

 }
 .botao :hover{
  background-image: url(/src/dezzer/gif2.gif);
    color:greenyellow;
       
   }
   .botao i{
       margin-right: 15px;
   }
   
   .arte{
       margin-top: 5%;
       height: 500px;
       width: 1400px;
       
   }
   .imagens {
border-radius: 100px;
       display: flex;
       align-items: center;
       height:200px ;
       margin-top: 2%;
    
      
   }
   .semana {
    margin-top: 5%;
       font-size: 35px;
       text-align: center;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
.fasfa-headphones{
    display: flex;
    align-items: center;
}

.input .logo-dezzer{
    background-color: white;
    margin-top: 2%;
  border: 2px solid white;
  width: 120px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color:black;
border-radius: 100px;

}
.input .for{
  
   border-radius: 100px;
   border: 2px solid greenyellow;
    align-items: center;
    background-image: url(/src/dezzer/gif2.gif);
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.input .busca{
    
    border: 4px solid white;
    border-radius: 100px;
    height: 50px;
    width: 200px;
    font-size: 10px;
    color: white ;
    background-image: url(/src/dezzer/gifmenu2.gif);
}

.playr{
    display: block;
    background-color: #313131;
    padding: 50px;
border-radius: 16px;
box-shadow: inset -6px -6px 12px rgba(0,0,0, 0.8),inset 6px 6px 12px rgba(255,255,255, 0.4);
height: 500px;
width: 400px;
border-radius: 50px;
border: 5px solid greenyellow;
text-align: center;

}
 .ig{

     border-radius: 100px;
     box-shadow: inset 6px 6px 12px rgba(0,0,0, 0.8),inset -6px -6px 12px rgba(255,255,255, 0.4);


 }

